* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Responsive Breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5rem; //1000px
$bp-medium: 50rem; //800px
$bp-small: 37.5em; //600px

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  font-family: "Lato", sans-serif;
}
