.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.animation {
  transition: all 0.8s ease-out;
}

.p-15 {
  padding: 1.5rem;
}
.pl-15 {
  padding-left: 1.5rem;
}

.mr-minus-15 {
  margin-right: -1.5rem;
}

.ml-minus-15 {
  margin-left: -1.5rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--form {
  background: linear-gradient(to right, #ff512f, #dd2476);
  color: #fff;
  align-self: end;
  transition: 0.4s linear;

  &:hover {
    background: #fff;
    color: #555;
  }
}
