.gallery {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__header {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
  }

  &__image {
    &__wrapper {
      max-width: 85rem;
      width: 100%;
      margin: 0 auto;
      box-shadow: #0101013d 1px 10px 10px 5px;

      &__img {
        width: 100%;
      }

      @media only screen and (max-width: $bp-medium) {
        max-width: 90vw;
      }
    }
  }
}
