.header {
  width: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 86%, 0% 100%, 0% 60%, 0 0);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 45%;
    transform: skew(15deg) translateX(-36%);
    // this affects mobile view
    width: 40%;
    height: 100%;
    background-image: linear-gradient(120deg, #ffd89b, #19547b);
    background-color: #333;
    opacity: 0.37;

    @media only screen and (max-width: $bp-medium) {
      width: 50%;
      left: 38%;
    }
  }

  &::before {
    transform: skew(-13deg) translateX(-36%);
    opacity: 0.2;
  }

  &__logo {
    @include position(absolute, 4rem, 20rem, null, null, null, null);
    z-index: 999999;
    img {
      width: 7.6rem;
      height: auto;
      object-fit: cover;
      cursor: pointer;
      border-radius: 99999rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &__title {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    z-index: 99;
    color: aliceblue;
    font-size: 6rem;
    font-weight: 700;
    top: 38%;
    left: 20%;
  }
  &__img {
    height: 90vh;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__words {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      &-title {
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 4.2rem;
        line-height: 3rem;
        z-index: 999999999;
      }
      &-paragraph {
        margin-top: 1rem;
        color: yellow;
        font-size: 1.5rem;
        z-index: 999999999;
        @media only screen and (max-width: $bp-small) {
          padding: 1rem;
          text-align: center;
        }
      }
    }
  }
  &__arrow {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 24%;
    right: 20%;
    width: 100%;
    height: 80%;

    img {
      width: 12%;
    }

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
}
