.navbar {
  position: fixed;
  width: 100%;
  z-index: 9;

  &__items {
    display: flex;
    flex-direction: row-reverse;
    &-donate {
      position: sticky;
      color: #073b4c;
      padding: 1.5rem 3rem;
      background-color: #eaee44;
      border: none;
      cursor: pointer;
      font-weight: 700;
      transition: 0.4s linear;
      &:hover {
        background: #fff;
        color: #555;
      }
    }
  }
}
