.support {
  text-align: center;
  &__title {
    color: #ef476f;
    padding-top: 5%;
    font-weight: 700;
    font-size: 5rem;
  }
  &__desc {
    font-size: 1.8rem;
    padding-top: 5%;
    color: #073b4c;
    letter-spacing: 0.2rem;
    line-height: 3rem;
  }
}
